{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="card" style="width: 70%;">
    
    {% if user.imagen_perfil %}
    <img src="{{user.imagen_perfil.url}}" class="card-img-top" alt="imagen de perfil">
    {% else %}
    <img src="{% static 'images/default_avatar.jpeg' %}" class="card-img-top" alt="imagen de perfil">
    {% endif %}
        
    
    <div class="card-body">
      <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
      
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">@{{user.username}}</li>
      
      {% if user.telefono %}
      <li class="list-group-item">{{user.telefono}}</li>  
      {% endif %}
        
      
      <li class="list-group-item">{{user.domicilio}}</li>
      
    </ul>
    <div class="card-body">
      <a href="{% url 'editar-perfil' user.id %}" class="card-link">Editar perfil</a>
    </div>
  </div>
    
{% endblock contenido %}
    